In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/Users/ahmadroukain/Desktop/Cours/S2/Empirical methods/Project 1/Data_Project1.xlsx'
df = pd.read_excel(path, sheet_name='Entertainment', index_col=0)
df.drop(index='Code', inplace=True)
df.dropna(inplace=True)

In [3]:
daily_simple_returns = df.pct_change().dropna()
daily_log_returns = pd.DataFrame()
for i in df.columns:
    daily_log_returns[i] = df[i].apply(lambda x : np.log(x)) - df[i].apply(lambda x : np.log(x)).shift(1)
daily_log_returns.dropna(inplace=True)
# for i in df.columns:
#     np.log(df[i])
# df['ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T)'].apply(lambda x : np.log(x))
# df['ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T)'].fillna(5, inplace=True)
# np.log(df['ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T)'])

/var/folders/zq/cl9wyfm13sq150n30b6r3_6m0000gn/T/ipykernel_18282/2606738538.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  daily_simple_returns = df.pct_change().dropna()

In [4]:
weekly_df = df.iloc[3::5]
weekly_simple_returns = weekly_df.pct_change().dropna()
weekly_log_returns = pd.DataFrame()
for i in df.columns:
    weekly_log_returns[i] = weekly_df[i].apply(lambda x : np.log(x)) - weekly_df[i].apply(lambda x : np.log(x)).shift(1)
weekly_log_returns.dropna(inplace=True)

/var/folders/zq/cl9wyfm13sq150n30b6r3_6m0000gn/T/ipykernel_18282/3705171720.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weekly_simple_returns = weekly_df.pct_change().dropna()

In [5]:
ss = pd.DataFrame()
x = daily_simple_returns
ss['Mean'] = x.mean()
ss['Variance'] = x.var()
ss['Skewness'] = x.skew()
ss['Kurtosis'] = x.kurtosis()
ss['Min'] = x.min()
ss['Max'] = x.max()
ss

,Mean,Variance,Skewness,Kurtosis,Min,Max
ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),0.000848,0.000393,1.031311,20.175788,-0.140595,0.258755
NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),0.000698,0.000493,0.922937,13.056417,-0.175828,0.220025
SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),0.000805,0.000349,0.566611,6.757748,-0.093264,0.176934
ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),0.000859,0.000352,0.958760,14.137493,-0.133052,0.210339
MICROSOFT (#T) - MICROSOFT (#T),0.000997,0.000284,0.130481,8.232583,-0.147390,0.142169

In [6]:
ss = pd.DataFrame()
x = daily_log_returns
ss['Mean'] = x.mean()
ss['Variance'] = x.var()
ss['Skewness'] = x.skew()
ss['Kurtosis'] = x.kurtosis()
ss['Min'] = x.min()
ss['Max'] = x.max()
ss

,Mean,Variance,Skewness,Kurtosis,Min,Max
ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),0.000653,0.000387,0.471870,15.964097,-0.151515,0.230123
NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),0.000454,0.000486,0.478191,11.329361,-0.193376,0.198871
SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),0.000631,0.000346,0.344736,5.787704,-0.097904,0.162913
ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),0.000685,0.000347,0.564629,11.780468,-0.142777,0.190900
MICROSOFT (#T) - MICROSOFT (#T),0.000855,0.000283,-0.130523,8.523156,-0.159453,0.132929

In [7]:
ss = pd.DataFrame()
x = weekly_simple_returns
ss['Mean'] = x.mean()
ss['Variance'] = x.var()
ss['Skewness'] = x.skew()
ss['Kurtosis'] = x.kurtosis()
ss['Min'] = x.min()
ss['Max'] = x.max()
ss

,Mean,Variance,Skewness,Kurtosis,Min,Max
ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),0.004125,0.001745,-0.084410,3.411485,-0.171618,0.222970
NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),0.003472,0.002652,1.611133,11.797939,-0.189829,0.367036
SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),0.003989,0.001807,0.368924,1.625024,-0.133433,0.180695
ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),0.004167,0.001614,0.197271,3.856469,-0.138851,0.227747
MICROSOFT (#T) - MICROSOFT (#T),0.004948,0.001192,-0.021095,2.622393,-0.128306,0.178335

In [8]:
ss = pd.DataFrame()
x = weekly_log_returns
ss['Mean'] = x.mean()
ss['Variance'] = x.var()
ss['Skewness'] = x.skew()
ss['Kurtosis'] = x.kurtosis()
ss['Min'] = x.min()
ss['Max'] = x.max()
ss

,Mean,Variance,Skewness,Kurtosis,Min,Max
ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),0.003246,0.001754,-0.416628,3.478271,-0.188281,0.201282
NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),0.002203,0.002492,0.873435,7.948006,-0.210510,0.312645
SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),0.003093,0.001777,0.152571,1.443634,-0.143216,0.166103
ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),0.003360,0.001603,-0.130610,3.323471,-0.149488,0.205181
MICROSOFT (#T) - MICROSOFT (#T),0.004345,0.001188,-0.253582,2.541173,-0.137317,0.164102

In [13]:
log_df = pd.DataFrame()
for i in df.columns:
    log_df[i] = df[i].apply(lambda x : np.log(x))
log_df

,ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),MICROSOFT (#T) - MICROSOFT (#T)
Name,,,,,
2014-01-01 00:00:00,2.880882,2.590017,2.850128,3.132882,3.621938
2014-01-02 00:00:00,2.894253,2.590767,2.842581,3.128075,3.615233
2014-01-03 00:00:00,2.906354,2.596001,2.843746,3.121483,3.608483
2014-01-06 00:00:00,2.894806,2.617396,2.850707,3.114848,3.587124
2014-01-07 00:00:00,2.907447,2.615204,2.851862,3.139833,3.594843
...,...,...,...,...,...
2023-10-06 00:00:00,4.545845,3.733136,4.418479,4.811859,5.790755
2023-10-09 00:00:00,4.546905,3.738622,4.424847,4.825028,5.798547
2023-10-10 00:00:00,4.546905,3.747148,4.438052,4.852655,5.794202
2023-10-11 00:00:00,4.548282,3.744787,4.448048,4.865147,5.806399
2023-10-12 00:00:00,4.547753,3.747384,4.461069,4.879539,5.802601

In [15]:
df

,ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T) - ACTIVISION BLIZZARD DEAD - DELIST.16/10/23 (#T),NINTENDO (~U$) (#T) - NINTENDO (~U$) (#T),SONY GROUP ADR 1:1 (#T) - SONY GROUP ADR 1:1 (#T),ELECTRONIC ARTS (#T) - ELECTRONIC ARTS (#T),MICROSOFT (#T) - MICROSOFT (#T)
Name,,,,,
2014-01-01 00:00:00,17.83,13.33,17.29,22.94,37.41
2014-01-02 00:00:00,18.07,13.34,17.16,22.83,37.16
2014-01-03 00:00:00,18.29,13.41,17.18,22.68,36.91
2014-01-06 00:00:00,18.08,13.7,17.3,22.53,36.13
2014-01-07 00:00:00,18.31,13.67,17.32,23.1,36.41
...,...,...,...,...,...
2023-10-06 00:00:00,94.24,41.81,82.97,122.96,327.26
2023-10-09 00:00:00,94.34,42.04,83.5,124.59,329.8201
2023-10-10 00:00:00,94.34,42.4,84.61,128.08,328.3899
2023-10-11 00:00:00,94.47,42.3,85.46,129.69,332.4199
2023-10-12 00:00:00,94.42,42.41,86.58,131.57,331.1599